# macOS
.DS_Store

# benchmark outputs
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions and build artifacts
*.d
*.o
*.a
*.so
*.so.*
*.dylib
*.dSYM/
test_box_enum

# Cython-generated C files
latticepts/box_enum.c

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/
